{% extends "base.html.twig" %}


{% block title %}Paiement invalidé{% endblock %}

{% block body %}
    <h1>Paiement invalidé</h1>
    <p>
        Un problème est survenue lors du paiement.
        Veuillez réessayer ulterieurement.
    </p>
{% endblock %}